[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
piccolo = {extras = ["uvloop"], version = "*"}
piccolo-admin = "*"
overpy = "*"
geopy = "*"
requests = "*"
types-requests = "*"
gunicorn = "*"
asyncpg = "*"
click = "*"
pillow = "*"

[dev-packages]
pytest = "*"
mypy = "*"
ipython = "*"
pre-commit = "*"
vulture = "*"

[requires]
python_version = "3.10.2"

[pipenv]
allow_prereleases = true

[scripts]
cli = "bash -c 'cd backend && pipenv run python cli.py $0 $@'"
