[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
piccolo = {extras = ["uvloop"], version = "*"}
piccolo-admin = "*"
overpy = "*"
geopy = "*"
requests = "*"
types-requests = "*"
gunicorn = "*"
# TODO: Use offical version when https://github.com/MagicStack/asyncpg/issues/899 is fixed
asyncpg = {git = "git+https://github.com/Rongronggg9/asyncpg.git@fix/pep-621"}
click = "*"
pillow = "*"
captcha = "*"

[dev-packages]
pytest = "*"
mypy = "*"
ipython = "*"
pre-commit = "*"
vulture = "*"

[requires]
python_version = "3.10.4"

[pipenv]
allow_prereleases = true

[scripts]
cli = "bash -c 'cd backend && pipenv run python cli.py $0 $@'"