.Legend {
    position: fixed;
    width: 200px;
    height: 180px;
    background: #FFFFFF;
    display: block;
    left: unset;
    right: 16px;
    bottom: 32px;
    z-index: 1000;
    border-radius: 2px;
    border: none;
    margin: 0;
    padding: 8px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.Legend-Checkboxes {
    margin: -32px 16px 0;
}

.Legend-CloseButton {
    left: 160px;
}

.Legend--closed {
    position: fixed;
    right: 16px;
    bottom: 32px;
    width: 48px;
    height: 48px;
    background-color: #FFFFFF;
    z-index: 1000;
    border: 2px solid #104b87;
    margin: 0;
    /* padding: 8px; */
    border-radius: 32px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.Legend--closed:hover {
    transform: scale(1.05);
}

.Legend-OpenButtonIcon {
    margin-top: 4px;
}