.MuiDrawer-paper {
    max-width: 200px !important;
    min-width: 200px !important;
    width: 200px !important;
    padding-left: 20px;
}

@media (max-width: 1200px) {
    .MuiDrawer-paper {
        width: 100px !important;
    }
}

.tip-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 2rem;
}

.tip-navigation {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 2rem;
}