[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
piccolo = {extras = ["sqlite", "uvloop"], version = "*"}
piccolo-admin = "*"
overpy = "*"
geopy = "*"
requests = "*"
types-requests = "*"
gunicorn = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
mypy = "*"
ipython = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
